
.rootPlay {
	-fx-background-color: radial-gradient(radius 100.0%, red, darkgray, black);
	-fx-background-size: stretch;
}


.root {
	-fx-background-image: url("/img/Retrowave.gif");
	-fx-background-size: stretch;
}

Label{
	-fx-text-fill:linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #52EDEB, pink);
	-fx-font-family: "Playbill";
	-fx-font-size: 90.0;
}


.labelJuego{
	-fx-text-fill: #85F44D;
	-fx-font-family: "papyrus";
	-fx-font-size: 30.0;
}


Button{
	-fx-display: inline-block;
    -fx-outline: 0.0;
    -fx-border: 0.0;
    -fx-font-size: 10.0px;
    -fx-font-weight: 300.0;
    -fx-color: #fff;
    -fx-cursor: pointer;
    -fx-background-color: linear-gradient(to right,#e052a0,#f15c41);
    -fx-border-radius: 2.0px;
    -fx-padding: 11.0px 13.0px 10.0px;
    -fx-white-space: nowrap;  
}

Button:hover {
    -fx-background-color: #e6375a;
    -fx-background-image: none!important;
}
