
.rootPlay {
	-fx-background-color: radial-gradient(radius 100%, red, darkgray, black);
	-fx-background-size: stretch;
}


.root {
	-fx-background-image: url("/img/Retrowave.gif");
	-fx-background-size: stretch;
}

Label{
	-fx-text-fill:linear-gradient(from 0% 0% to 100% 100%, #52EDEB, pink);
	-fx-font-family: "Playbill";
	-fx-font-size: 90;
}

Button:focus{
	-fx-border-color: blue;
}

Button:armed{
    -fx-border-color: pink;
}

.labelJuego{
	-fx-text-fill: #85F44D;
	-fx-font-family: "papyrus";
	-fx-font-size: 30;
}